html, body, div, span, object, i,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

caption,
th {
  text-align: left; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol li {
  list-style-type: decimal; }
  ol li:focus {
    outline: 0; }

.can-not-select * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

input,
textarea,
*[contenteditable] {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text; }

body {
  width: 680px;
  margin: 0 auto;
  background: #e9eaec; }

a {
  color: #333333;
  text-decoration: none; }

nav {
  margin: 20px 0;
  height: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background: #f4f4f4; }
  nav ul > li {
    display: inline-block;
    margin-left: 20px;
    line-height: 40px;
    height: 40px; }
    nav ul > li.active,
    nav ul > li:hover {
      background: #3da9f7; }
  nav .left-nav {
    display: inline-block;
    float: left; }
  nav .right-nav {
    float: right; }

.article-list {
  min-height: 700px; }
  .article-list .article-item {
    height: 120px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0px 8px rgba(46, 143, 237, 0.3); }
  .article-list .title {
    font-size: 18px; }
  .article-list .author-info {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 13px;
    color: #aaa; }
  .article-list .brief {
    font-size: 13px;
    color: #666; }
