<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>分享吧</title>
    <meta name="keywords" content="分享,分享吧,分享资源,资源,电影,图片">
    <meta name="description" content="分享吧是用于分享网上资源的博客，主要分享电影，图片，等其他各种资源">
    <link rel="stylesheet" href="/styles/css/main.css">
</head>

<body>

    <nav>
        <ul class="left-nav">
            <li>
                <a href="/">所有</a>
            </li>
            <li>
                <a href="/tags/movie">电影</a>
            </li>
            <li>
                <a href="/tags/picture">图片</a>
            </li>
        </ul>
        <div class="right-nav">
            <form class="search" action="/search" method="GET">
                <input type="text" name="keyword" placeholder="SEARCH" />
            </form>
        </div>
    </nav>
