<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小图床</title>
    <script src="./pic/bundle.js"></script>
</head>
<body>
    <div class="header">
        <h2>小图床</h2>
    </div>

    <div class="content">
    
        
    </div>
</body>
    
</html>
