.article-list {
    min-height: 700px;

    .article-item {
        height: 120px;
        padding: 20px;
        overflow: hidden;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0 0px 8px rgba(46,143,237,0.3);
    }

    .title {
        font-size: 18px;
    }

    .author-info {
        margin-top: 15px;
        margin-bottom: 8px;
        font-size: 13px;
        color: #aaa;
    }

    .brief {
        font-size: 13px;
        color: #666;
        height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
