@import "../common/reset";
body {
    margin: 10px 40px 10px 40px;
}
.header {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.main {
    margin: auto;
    width: 650px;
}

.item {
    padding: 10px;
    position: relative;
    span {
        display: inline-block;
        padding: 0 20px;
        width: 65px;
    }
    img {
        width: 80px;
    }

    &:first-child {
        padding-left: 76px;
    }

    .score {
        display: inline-block;
        position: absolute;
        top: 38%;
    }
}

.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
